# P05 : Data Wrangling

## Contents

In this course we learn to read data from different sources and transform the data using Pandas dataframe techniques and more including:

    Transforming data using apply and map functions
    Transforming data using dfply verbs

## Cheat sheets


Pandas Cheat Sheet

https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

# Data wrangling

from wikipedia:

Data munging or data wrangling is loosely the process of manually converting or mapping data from one “raw” form into another format that allows for more convenient consumption of the data with the help of semi-automated tools.

In almost every dataset, it is necessary to perform some data munging before you can use the data to perform eg. a classification task. Therefore, as a data scientist, you’ll spend a lot of time munging and wrangling the data!

## Data manipulation in Python

Let us first look at munging techniques available in basic Python:

    Renaming columns
    Adding or removing columns
    Reordering columns
    Merging data frames
    Finding and removing duplicates

#### Load Iris dataset as dataframe

The iris dataset is included in the sklearn.datasets. However, the dataset was changed in scikit-learn version 0.20 and fixed two wrong data points according to Fisher’s paper. The new version is the same as in R, but not as in the UCI Machine Learning Repository.

In [ ]:
# let's import a few libraries
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris

In [ ]:
# from packaging import version
# import sklearn

#print(sklearn.__version__)
#if version.parse(sklearn.__version__) < version.parse("0.23.0"):
    # https://stackoverflow.com/questions/38105539/how-to-convert-a-scikit-learn-dataset-to-a-pandas-dataset
    # save load_iris() sklearn dataset to iris
    # if you'd like to check dataset type use: type(load_iris())
    # if you'd like to view list of attributes use: dir(load_iris())
#    iris_bunch = load_iris()

    # np.c_ is the numpy concatenate function
    # which is used to concat iris['data'] and iris['target'] arrays 
    # for pandas column argument: concat iris['feature_names'] list
    # and string list (in this case one string); you can make this anything you'd like..  
    # the original dataset would probably call this ['Species']
#    df_iris = pd.DataFrame(data= np.c_[iris_bunch['data'], iris_bunch['target']],
#                         columns= iris_bunch['feature_names'] + ['target'])
#else:
    # New in scikit-learn version 0.23: load directly into dataframe
    # https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_iris.html
#    print("Load data as dataframe")
#    iris_tuple = load_iris(as_frame=True, return_X_y=True)
#    df_iris = iris_tuple[0]
#    df_iris["target"] = iris_tuple[1]

In [ ]:
# https://stackoverflow.com/questions/38105539/how-to-convert-a-scikit-learn-dataset-to-a-pandas-dataset
# if you'd like to check dataset type use: type(load_iris())
# if you'd like to view list of attributes use: dir(load_iris())

# save load_iris() sklearn dataset to iris_bunch
iris_bunch = load_iris()

# list of attributes
dir(iris_bunch)

In [ ]:
# so what's in iris_bunch?

# sample of the data
iris_bunch.data[1:10,]

In [ ]:
# list with feature names 
iris_bunch.feature_names

In [ ]:
# target variable (3 different species)
iris_bunch.target

In [ ]:
# np.c_ is the numpy concatenate function
# which is used to concat iris['data'] and iris['target'] arrays 
# for pandas column argument: concat iris['feature_names'] list
# and string list (in this case one string); you can make this anything you'd like..  
# the original dataset would probably call this ['Species']
df_iris = pd.DataFrame(data= np.c_[iris_bunch['data'], iris_bunch['target']],
                         columns= iris_bunch['feature_names'] + ['target'])

In [ ]:
df_iris.head()

There are even more options to get the iris dataset. For instance, the seaborn package to create plots has a function to load the iris dataset from the internet The code even more straith forward and the data is directly available in a pandas dataframe:

In [ ]:
import seaborn as sns
df_iris_seaborn = sns.load_dataset('iris')

### Renaming columns in a data frame

You can do any of the following with Python’s built-in functions. Note that these modify iris dataframe directly; that is, you don’t have to save the result back into df_iris when using the "inplace" argument with a value set to True.

#### Rename the column named "sepal length (cm)" to "sepal lengte (cm)"

In [ ]:
df_iris.rename(columns={'sepal length (cm)':'sepal lengte (cm)'}, inplace=True)
df_iris.head()

#### Rename by index in names list: change third item, "petal length (cm)", to "petal lengte (cm)"

In [ ]:
df_iris.rename(columns={ df_iris.columns[2]: "petal lengte (cm)" }, inplace = True)
df_iris.head()

#### Show all column names as a list, including the modified column names

In [ ]:
df_iris.columns.to_list()

### Adding and removing columns in a data frame

There are many different ways of adding columns to a dataframe and removing columns from a data frame.

In [ ]:
# A method used often to create a dataframe quickly is to define a dictionary containing your column names and data:
data = {'id': [1,2,3],
        'weight': [20,27,24]}
  
# ... and convert the dictionary into dataFrame
df = pd.DataFrame(data)
df

#### Different ways to add a column to a dataframe

In [ ]:
# By declaring a new list as a column
# Declare a list that is to be converted into a column
size = ["small", "large", "medium"]
  
# Using 'size' as the column name
# and equating it to the list
df['size1'] = size
df

In [ ]:
# Using DataFrame.insert() to add a column
# The first argument is the position to insert the new column at
df.insert(len(df), "size2", ["small", "large", "medium"], True)
df

In [ ]:
# Using Dataframe.assign() method
# This will create a new dataframe with the new column added to the old dataframe.

# Using 'size3' as the column name and equating it to the list
df = df.assign(size3 = ["small", "large", "medium"])
df

In [ ]:
# Using a Python dictionary to add a column

# Define a dictionary with key values of an existing column and their respective
# value pairs as the values for our new column.

size4 = {1: 'small', 2: 'large', 3: 'medium'}

df['size4'] = df['id'].map(size4)
df

#### Different ways to remove a column from a dataframe

In [ ]:
# using del
del df['size1']
df

In [ ]:
# using the dataframe drop method
df.drop('size2', axis=1, inplace=True)
df

In [ ]:
# by listing the columns you would like to keep
# and dropping any columns not listed
df=df[['id','size4']]
df

In [ ]:
# The pop method is used to remove the specified column from the DataFrame and return the removed column as a pandas Series.
removed_col=df.pop('size4')
removed_col

In [ ]:
# Lets see what is left of the dataframe
df

### Reordering columns in a data frame

In [ ]:
# Create a sample dataframe as we did earlier
# Define a dictionary containing data
data = {
        'id': [1,2,3],
        'weight': [20,27,24],
        'size': ["small", "large", "medium"]
}
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
df

#### Reorder by column names

In [ ]:
# Using double brackets to reorder columns
df = df[['weight', 'id', 'size']]
df

In [ ]:
# Using pandas.DataFrame.reindex() to reorder columns in a DataFrame
column_names = ['size', 'weight', 'id']
df = df.reindex(columns=column_names)
df

In [ ]:
# Reorder columns to the original sequence
df = df[['id', 'weight', 'size']]
df

In [ ]:
# get values in a row using the row index to select the row
df.iloc[0]

### Merging data frames

You want to merge two data frames on a given column from each. Just like a join in SQL.

In [ ]:
# Make a data frame, mapping story numbers to titles
data = {
        'storyid': [1,2,3], 
        'title': ['lions', 'tigers', 'bears']
}
stories_df = pd.DataFrame.from_dict(data)
stories_df

In [ ]:
# Make another data frame with the data and story numbers, including ratings
data = {
        'subject': [1,1,1,2,2,2],
        'storyid': [1,2,3,2,3,1],
        'rating': [6.7,4.5,3.7,3.3,4.1,5.2]
}
rating_df = pd.DataFrame.from_dict(data)
rating_df

In [ ]:
# Merge the two data frames
# how='left' is the default (left join), so it is not required to provide it, but for clarity we do
# Here we provide it in order to make the code more readable
stories_df.merge(rating_df, on=['storyid'], how='left')

### Merging data frames on more than one column

In [ ]:
# Make up more data: create a dataframe with animals and a dataframe with observations
data = {
        'size': ['small', 'big', 'small', 'big'],
        'type': ['cat', 'cat', 'dog', 'dog'],
        'name': ['lynx', 'tiger', 'chihuahua', 'great dane']
}
animals_df = pd.DataFrame.from_dict(data)
print(animals_df)

In [ ]:
data = {'number':[1,2,3,4], 'size': ['big', 'small', 'small', 'big'], 'type': ['cat', 'dog', 'dog', 'dog']}
observations_df = pd.DataFrame.from_dict(data)
print(f"\n{observations_df}" )

# Merge the dataframes
observations_df.merge(animals_df, on=['size', 'type'], how='left')

### Finding and removing duplicate records in a serie

You want to find and/or remove duplicate entries from a serie or data frame.

In [ ]:
# Python has various data structures you can use to store data
# We already used the dictionary and the pandas dataframe
# You can also store data in lists, arrays and series

# Python list
my_list = [1, 2, 3, 4, 5]
print(my_list)

# Numpy array
my_array = np.array([1, 2, 3, 4, 5])
print(f"\n{my_array}")

# Pandas series
my_series = pd.Series(my_array)
print(f"\n{my_series}")

In [ ]:
# import the required packages we will be using
from numpy.random import seed
from numpy.random import normal

# Generate a series 
seed(3)
x = pd.Series(normal(loc=10, scale=5, size=20).round()).astype(int)
print(*x)

In [ ]:
# For each element: is this one a duplicate (first instance of a particular value not counted)
x_duplicates = x.duplicated()
print(*x_duplicates)

# The values of the duplicated entries
# note that '10' appears in the original vector four times, and so it has three entries here
x_duplicates_values = x[x.duplicated()]
print(*x_duplicates_values)

In [ ]:
# create a list with duplicates
x_list = [1, 2, 3, 3, 4, 4, 5]

# a set is another python data structure: it can only contains unique items
# and therefore we can use it to remove duplicates and convert the set back to a list again
list(set(x_list))

## Finding and removing duplicate records in data frames

In [ ]:
# Create a sample data frame:
data = {
        'label': ['A', 'B', 'C', 'B', 'B', 'A', 'A', 'A'],
        'type': [4,3,6,3,1,2,4,4]
}

In [ ]:
df = pd.DataFrame.from_dict(data)
print(df)

# Is each row a repeat?
x_duplicates = df.duplicated()
x_duplicates

In [ ]:
df_duplicates_values = df[df.duplicated()]
df_duplicates_values

In [ ]:
# Show unique repeat entries 
df_duplicates_values_unique = df_duplicates_values.drop_duplicates()
df_duplicates_values_unique

In [ ]:
# Original data with repeats removed. These do the same:
df_unique1 = df.drop_duplicates()
df_unique1

In [ ]:
df_unique2 = df[~df.duplicated()]
df_unique2

## Introducing Apply

At any Python Q&A site, you’ll frequently see an exchange like this one:

Q: How can I use a loop to [...insert task here...] ?
A: Don't. Use one of the apply functions or the Python list comprehension

So, what are these wondrous apply functions and list comprehensions and how do they work? I think the best way to figure out anything in Python is to learn by experimentation, using embarrassingly trivial data and functions.

Let’s examine some of those.

TODO

### apply_along_axis

Description : Returns a series or array or list of values obtained by applying a function to margins of an array or matrix.

OK. We know about series/arrays and functions, but what are these “margins”?

Simple: either the rows (0), the columns (1) or both. By both, we mean apply the function to each individual value.

In [ ]:
# An example:

# create a matrix of 10 rows x 2 columns
# Python doesn't have a built-in type for matrices.
# However, we can treat a list of a list as a matrix
a = np.array([range(1,11)])
b = np.array([range(11,21)])
m = np.vstack((a,b))
print(m.T)

In [ ]:
# mean of the rows
mean_rows = np.apply_along_axis(np.mean, 0, m)
print(*mean_rows)

In [ ]:
# mean of the columns
mean_cols = np.apply_along_axis(np.mean, 1, m)
print(*mean_cols)

In [ ]:
# Divide all values by 2
# notice that here the axis argument is simply ignored but a value has to be provided
div_2 = np.apply_along_axis(lambda x: x/2, 1, m)
print(div_2.T)

### Groupby

To illustrate, we can load up the classic iris dataset, which contains a bunch of flower measurements:

In [ ]:
# As we saw before, the iris data is available in the seaborn package:
import seaborn as sns
# The following script loads the iris data set into a data frame
df_iris_seaborn = sns.load_dataset('iris')
df_iris_seaborn

In [ ]:
df_iris_seaborn.groupby('species').agg('mean')

Essentially, groupby provides a way to split your data by factors and do calculations on each subset. It returns an object of class “groupby” and there are many more complex ways to use it.

### map

Description : map returns a map object of the same length as X, each element of which is the result of applying FUN to the corresponding element of X

Maps are lazily evaluated, meaning the values are only computed on-demand. 

A simple example:

In [ ]:
import statistics
l = [list(range(1,11)), list(range(11,21))]
mean_map=map(statistics.mean, l)
print(list(mean_map))

In [ ]:
# the sum of the values in each element
sum_map=map(sum, l)
print(list(sum_map))

In [ ]:
# Notice: alternatively, you can also use list comprehension:
sum_list=[sum(i) for i in l]
print(sum_list)

In [ ]:
# calculate multiple values
mult_funcs = [min, statistics.median, max]

mean_sum_list = [[x(i) for x in mult_funcs] for i in l]
print(mean_sum_list)

### Replicate with NumPy
NumPy is a package for working with numerical data and used for data science and scientific computing.

An example: let’s simulate 5 normal distributions, each with 5 observations:

In [ ]:
np.random.seed(1)
np.random.normal(loc=0.48, scale=0.05, size=(5,5))

#### Replicate a function on elements with map
With map we can apply a function to multiple list arguments

In [ ]:
one_to_four = range(1, 5)
four_to_one = range(4, 0, -1)
    
rep = lambda value, times: [value]*times
list(map(rep, one_to_four, four_to_one))

## dfply

The dfply package makes it possible to do R's dplyr-style data manipulation with pipes in Python on pandas DataFrames.

This is an alternative to pandas-ply and dplython, which both engineer dplyr syntax and functionality in Python. There are probably more packages that attempt to enable dplyr-style dataframe manipulation in Python, but those are the two I am aware of.

dfply uses a decorator-based architecture for the piping functionality and to "categorize" the types of data manipulation functions. The goal of this architecture is to make dfply concise and easily extensible, simply by chaining together different decorators that each have a distinct effect on the wrapped function.

dfply is intended to mimic the functionality of dplyr. The syntax is the same for the most part, but will vary in some cases as Python is a considerably different programming language than R.

from <a href="https://github.com/kieferk/dfply"> kieferk/dfply </a>

## dfply

When working with data you must:

* Figure out what you want to do.
* Precisely describe what you want in the form of a computer program.
* Execute the code.

The dfply package makes each of these steps as fast and easy as possible by:

* Elucidating the most common data manipulation operations, so that your options are helpfully constrained when thinking about how to tackle a problem.
* Providing simple functions that correspond to the most common data manipulation verbs, so that you can easily translate your thoughts into code.
* Using efficient data storage backends, so that you spend as little time waiting for the computer as possible.

In [ ]:
#!pip install dfply

## Data: nycflights13

To explore the basic data manipulation verbs of dfply, we’ll start with the built-in nycflights13 data frame. This dataset contains all 336776 flights that departed from New York City in 2013. The data comes from the <a href="https://www.bts.gov/">US Bureau of Transporation Statistics</a>

In [ ]:
from dfply import *
import pandas as pd

In [ ]:

flight_data = pd.read_csv('./datasets/flights.csv')
flight_data.shape

In [ ]:
flight_data.head()

## Single table verbs

Dfly aims to provide a function for each basic verb of data manipulating:

* filter_by() (and row_slice())
* arrange()
* select() (and rename())
* distinct()
* mutate() (and transmute())
* summarize()
* sample()

In [ ]:
# dfply works directly on pandas DataFrames, chaining operations on the data with the >> operator

flight_data >> head(5)

In [ ]:
# The DataFrame as it is passed through the piping operations is represented by the symbol X
flight_data >> select(X.dep_time, X.origin) >> head(3)

## Arrange rows with arrange()

arrange() works similarly to filter() except that instead of filtering or selecting rows, it reorders them. If you provide more than one column name, each additional column will be used to break ties in the values of preceding columns:

In [ ]:
flight_data >> arrange(X.year, X.month, X.day) >> head(5)

Use desc() to order a column in descending order:

In [ ]:
flight_data >> arrange(X.arr_delay, ascending=False) >> head(5)

## Filter rows with filter_by()

filter_by() allows you to select a subset of the rows of a data frame. The first and subsequent arguments are filtering expressions evaluated in the context of that data frame.

For example, we can select all flights on February 3rd with:

In [ ]:
flight_data >> filter_by(X.month==2, X.day==3) >> head(5)

## More filter() and slice()

This is equivalent as it can be done using pandas:

In [ ]:
# & = AND | = OR
# select first of januari
flight_data[(flight_data["month"] == 1) & (flight_data["day"] == 1)].head()

To select rows by position, use row_slice(). You can pass single integer indices or a list of indices to select rows as with. This is going to be the same as using pandas' .iloc.

In [ ]:
flight_data >> row_slice([0,7,10])

## Select columns with select()

Often you work with large datasets with many columns where only a few are actually of interest to you. select() allows you to rapidly zoom in on a useful subset using operations that usually only work on numeric variable positions:

In [ ]:
# Select columns by name
flight_data >> select(X.year, X.month, X.day) >> head(10)

In [ ]:
# The select function accept string labels, integer positions, and/or symbolically represented column names (X.column)
flight_data >> select(X.year, ['month', 'day'],6) >> head(10)

## Extract distinct (unique) rows

A common use of select() is to find out which values a set of variables takes. This is particularly useful in conjunction with the distinct() verb which only returns the unique values in a table.

In [ ]:
flight_data >> select(X.tailnum) >> distinct(X.tailnum)

## Grouped operations

These verbs are useful, but they become really powerful when you combine them with the idea of “group by”, repeating the operation individually on groups of observations within the dataset.

The verbs are affected by grouping as follows:

* grouped select() is the same as ungrouped select(), except that grouping variables are always retained.
* grouped arrange() orders first by grouping variables
* mutate() and filter() are most useful in conjunction with window functions (like rank(), or min(x) == x), and are described in detail in vignette(“window-function”).
* sample() samples the specified number/fraction of rows in each group.
* row_slice() extracts rows within each group.
* summarize() and summarize_each() are easy to understand and very useful, and is described in more detail below.

## Example group by

In the following example, we split the complete dataset into individual planes and then summarise each plane by counting the number of flights (count = n()) and computing the average distance (distance_mean=X.distance.mean()) and delay (arr_delay_mean=X.arr_delay.mean()).

In [ ]:
delay_df = (flight_data >> 
 group_by(X.tailnum) >> 
 summarize(tailnum_count=n(X.tailnum), distance_mean=X.distance.mean(), arr_delay_mean=X.arr_delay.mean()) >>
 filter_by(X.tailnum_count >20, X.distance_mean<2000)
)
delay_df >> head(5)

## Plot delays

In [ ]:
# import the seaborn package for making a visualisation
import seaborn as sns
sns.set_theme(style="white")

In [ ]:
# Plot miles per gallon against horsepower with other semantics
sns.relplot(x="distance_mean", y="arr_delay_mean", size="tailnum_count",
            sizes=(40, 400), alpha=.5, palette="muted",
            height=6, data=delay_df)

## Add new columns with mutate()

As well as selecting from the set of existing columns, it’s often useful to add new columns that are functions of existing columns. This is the job of mutate():

In [ ]:
(flight_data >>
 mutate(
  gain = X.arr_delay - X.dep_delay,
  speed = X.distance / X.air_time * 60) >>
 head())

Note: In Python the new variables created with mutate may not be guaranteed to be created in the same order that they are input into the function call, though this may have been changed in Python 3.x. For example, the following will generate an error:

    NameError: name 'gain' is not defined

(flight_data >>
 mutate(
  gain = X.arr_delay - X.dep_delay,
  gain_per_hour = gain / (X.air_time / 60)
 ) >>
head()
)

## Combine Datasets

* Mutating joins
* Filtering joins
* Set operations
* Binding

## Randomly sample rows with sample()

You can use sample() to take a random sample of rows, either a fixed number for sample(n=3, replace=True) or a fixed fraction for sample(frac=0.0002, replace=False).

In [ ]:
flight_data >> sample(n=3, replace=True)

In [ ]:
flight_data >> sample(frac=0.00002, replace=True)

## Commonalities

You may have noticed that all these functions are very similar:

* A data frame is piped to the function as input
* The arguments describe what to do with it, and you can refer to columns in the data frame directly.
* The result is a new data frame

Together these properties make it easy to chain together multiple simple steps to achieve a complex result.

# Databases and Python

As well as working with local in-memory data like data frames and data tables, Pandas also works with remote on-disk data stored in databases. Generally, if your data fits in memory there is no advantage to putting it in a database: it will only be slower and more hassle.

The reason you’d want to use Pandas with a database is because either your data is already in a database (and you don’t want to work with static csv files that someone else has dumped out for you), or you have so much data that it does not fit in memory and you have to use a database.

## Load data in a (SQLite) database

Using a SQLite database in Python is really easy: just give it a path and the ok to create it.

In [ ]:
# we need the sqlite3 package for this
import sqlite3

# create a connection to the database
conn = sqlite3.connect('file:cachedb?mode=memory&cache=shared')
cur  = conn.cursor()

The main new concept here is the connect() method, which is a collection of tables. Use sqlite3.connect() to connect to the different sqlite3 databases.

## Loading data

This is a quick and dirty way of getting data into a database. The following will create a table called "flight_data" and store the data of the flight_data dataframe in it. A file will be cretaed in the current working folder called "file:cachedb?mode=memory&cache=shared" where the data of the database will be stored.

In [ ]:
# create MultiIndexes on some columns in the dataframe:
flight_data_multiIndexes = ['year', 'month', "day", "carrier", "tailnum"]
flight_data.set_index(flight_data_multiIndexes, inplace=True)

# load the data in the new SQLite database
flight_data.to_sql("flight_data", conn, index=True, if_exists="replace")

As you can see, the to_sql() operation has an additional argument that allows you to indicate to used the dataframe indexes as indexes for the table as well. Here we set up indexes that will allow us to quickly process the data by day, by carrier and by plane.

Did you know that <a href="https://sqlite.org/index.html">SQLite</a> the most widely used SQL databased engine in the world?

## Retrieving data from the database

For this particular dataset, there’s a built src that will cache flights in a standard location:

In [ ]:
# load data from your connection
flight_data_df = pd.read_sql_query("select * from flight_data", conn, index_col=flight_data_multiIndexes)
flight_data_df

## Other useful packages for datamunging in Python

* If you want to connect to a database other than SLQLite, use <a href="https://www.sqlalchemy.org/">SQLAlchemy</a>

* Alternatives for dfply include <a href="https://github.com/coursera/pandas-ply">pandas-ply</a> and <a href="https://github.com/dodger487/dplython">Dplython</a>